html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	font: 62.5% 'Helvetica', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
	font-size: 1.4em;
}

a {
	outline: 0;
}

/*================================================== Navigation ====================================================*/
.title {
	position: absolute;
	top: 0;
	left: -30px;
}

mark.orange {
	color: #ef7b47;
	background: none;
}

nav.tab-bar{
	background-color: #232d3b;
}

.title {
	font-family: 'Arial';
}

.right-off-canvas-menu {
	background-color: #232d3b;
}

.off-canvas-list {
	background-color: #232d3b;
}

body,html{
    height:100%;
    width:100%;
}

.off-canvas-wrap,.inner-wrap{
    height:100%;   
}

/*================================================== Body ====================================================*/

#front_end {
	background-color: #7accc8;
	height: 50%;
}

.section_title {
	font-size: 20px;
	color: #232d3b;
	padding-bottom: 10px;
	padding-top: 25px;
}

.accordion dd > a {
	background-color: #64b7b3;
	border-bottom: 2px solid #59a29e;
	margin-bottom: 20px;
	color: #232d3b;
}

.accordion dd > a:hover {
	background-color: #64b7b3;
}

mark.arrow {
	background: none;
	float: right;
	margin-top: -5px;
}

#panel2{
	background-color: #59a29e;
}

#back_end {
	height: 50%;
	background-color: #ef7b47;
}

.back_end_accordion.accordion dd > a {
	background-color: #d26433;
	border-bottom: 2px solid #aa5129;
	margin-bottom: 20px;
	color: #232d3b;
}

.back_end_accordion.accordion dd > a:hover {
	background-color: #d26433;
}
















