<div class="page">
   <div class="off-canvas-wrap">
     <div class="inner-wrap">
      <nav class="tab-bar" role="navigation">
        <section class="middle tab-bar-section">
          <a href="#/" class="title">Code <mark class="orange">Quiz</mark></a>
        </section>

        <section class="right-small">
          <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
        </section>
      </nav>

        <aside class="right-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label id="nav-label">Code <mark class="orange">Quiz</mark></label></li>
            <li><a href="#/">Home</a></li>
            <li><a href="#/contribute">Contribute</a></li>
          </ul>
          
          <div id="login_section">
              <a href="" ng-click="facebookLogin()" class="button facebook"><img src="images/fb_logo.png" width="35" height="35">Facebook Login</a>
            <a href="" ng-click="twitterLogin()" class="button twitter text-center"><img src="images/twitter.png" width="40" height="40">Twitter Login</a>
          </div>
        </aside>
        <section class="main-section">

          <div class="row" id="home">
            <div class="small-6-centered columns">
              <img ng-hide="mobile" src="images/iphone.png" class="iphone">
              <h2 class="introHeader">Challenge your knowledge of web design and development.</h2>
              <p class="intro">See how well you know all the different languages. Take a quiz or create your own for others to take. See your wrong answers and improve your score. Try it out! What do you have to lose?</p>
              

              <a href="" ng-click="facebookLogin()" class="button facebook" id="homeButton"><img src="images/fb_logo.png" width="35" height="35">Facebook Login</a>

              <a href="" ng-click="twitterLogin()" class="button twitter text-center"><img src="images/twitter.png" width="40" height="40">Twitter Login</a>
            </div>
          </div>

  </section>

      <a class="exit-off-canvas"></a>

      </div>
    </div>
  </div> <!-- Closing Page -->
